@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 3rem;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body h1 {
  background: linear-gradient(90deg, #b169ff, #6ca7c9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
